---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-case-conflict

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8
        language: python
        types: [python]
        entry: flake8
        stages: [commit]

  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        name: black
        language: python
        types: [python]
        entry: black
        stages: [commit]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        language: python
        types: [python]
        entry: isort
        stages: [commit]

  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.12.0
    hooks:
      - id: markdownlint
        name: markdownlint
        language: ruby
        types: [markdown]
        entry: mdl
        stages: [commit]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        name: codespell
        language: python
        types_or: [python, markdown]
        entry: codespell
        stages: [commit]
        args: ['-I', '.codespell.dictionary']

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.1
    hooks:
      - id: pylint
        name: pylint
        language: python
        types: [python]
        entry: env PYTHONPATH=./ pylint
        stages: [push]
        additional_dependencies: ['requests']
